<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<head th:fragment="head">
    <title>Clinical Pathways - editor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--jQuery-->
    <script th:src="@{/js/components/jquery/dist/jquery.min.js}" scr="js/components/jquery/dist/jquery.min.js"></script>
    <!--/jQuery-->

    <!-- popup -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="js/components/popup/css/reset.css"/>
    <link rel="stylesheet" href="js/components/popup/css/style.css"/>
    <script src="js/components/popup/js/modernizr.js"></script>
    <script src="js/components/popup/js/main.js"></script>
    <!-- /popup -->

    <!--Bootstrap-->
    <link rel="stylesheet" th:href="@{/js/components/bootstrap/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/js/components/bootstrap/dist/css/bootstrap-theme.css}"/>
    <script th:src="@{/js/components/bootstrap/dist/js/bootstrap.js}" scr="js/components/bootstrap/dist/js/bootstrap.js"></script>
    <!--/Bootstrap-->

    <!--font-awesome-->
    <link rel="stylesheet" th:href="@{/js/components/font-awesome/css/font-awesome.css}"/>
    <!--/font-awesome-->

    <!--SVG.js-->
    <script th:src="@{/js/lib/svg.js}" scr="js/lib/svg.js"></script>
    <script th:src="@{/js/lib/svg.draggable.js}" scr="js/lib/svg.draggable.js"></script>
    <!--/SVG.js-->

    <script th:src="@{/js/components/lodash/lodash.min.js}" scr="js/components/lodash/lodash.min.js"></script>

    <!--mine-->
    <link rel="stylesheet" th:href="@{css/style.css}" href="css/style.css"/>
    <script th:src="@{/js/editor.js}" scr="js/editor.js"></script>
    <script th:src="@{/js/factory.js}" scr="js/factory.js"></script>
    <script th:src="@{/js/connect.js}" scr="js/connect.js"></script>
    <script th:src="@{/js/load-file.js}" scr="js/load-file.js"></script>
    <script th:src="@{/js/text-node.js}" scr="js/text-node.js"></script>
    <script th:src="@{/js/text-path.js}" scr="js/text-path.js"></script>
    <script th:src="@{/js/toolbar.js}" scr="js/toolbar.js"></script>
    <script th:src="@{/js/context-menu/context-menu.js}" scr="js/context-menu/context-menu.js"></script>
    <script th:src="@{/js/context-menu/context-edit.js}" scr="js/context-menu/context-edit.js"></script>
    <script th:src="@{/js/context-menu/context-connect.js}" scr="js/context-menu/context-connect.js"></script>
    <script th:src="@{/js/context-menu/context-remove.js}" scr="js/context-menu/context-remove.js"></script>
    <script th:src="@{/js/read-xpdl.js}" scr="js/read-xpdl.js"></script>
    <script th:src="@{/js/write-xpdl.js}" scr="js/write-xpdl.js"></script>
    <script th:src="@{/js/persist.js}" scr="js/persist.js"></script>
    <!--/mine-->

</head>
</body>
</html>