<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="editor">
    <div class="left">
        <div class="toolbar">
            <div class="event-tb" onmousedown="createStart(event)"></div>
            <div class="gate-tb" onmousedown="createGate(event)"></div>
            <div class="task-lab-tb" onmousedown="createLab(event)"></div>
            <div class="task-research-tb" onmousedown="createResearch(event)"></div>
        </div>
    </div>
    <div class="right">
        <div id="drawing"></div>
        <div class="context-menu hide">
            <div id="editId" style="padding-right: 5px"><i class="fa fa-pencil fa-2x"></i></div>
            <div id="connectId">
                <i style="transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg);"
                   class="fa fa-long-arrow-right fa-2x"></i>
            </div>
            <div id="trashId"><i class="fa fa-trash fa-2x"></i></div>
        </div>
        <div id="taskTextAreaDivId" class="textarea-task hide">
            <textarea id="taskTextAreaId" style="width: 140px; height: 90px;"></textarea>
        </div>
        <div id="gateTextAreaDivId" class="textarea-gate hide">
            <textarea id="gateTextAreaId" style="width: 80px; height: 80px;"></textarea>
        </div>
        <div id="pathTextAreaDivId" class="textarea-path hide">
            <textarea id="pathTextAreaId" style="width: 140px; height: 70px;"></textarea>
        </div>
    </div>
</div>

</body>
</html>