<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="toolbar">
    <div class="event-tb" onclick="createStart(event)"></div>
    <div class="gate-tb"></div>
    <div class="task-lab-tb"></div>
    <div class="task-research-tb"></div>
</div>

<div th:id="drawing" style="position: absolute; top: 50px; left: 0px">
</div>

</body>
</html>