<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" ng-app="app">

<head th:replace="fragments/head :: head"></head>
<script src="js/components/angular/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="js/components/angular-ui-grid/ui-grid.min.css"/>
<script src="js/components/angular-ui-grid/ui-grid.js"></script>

<script>
    var app = angular.module('app', ['ui.grid']);
    app.controller('RepoController', function ($scope, $http, $window) {
        $scope.gridOptions = {
            enableHorizontalScrollbar: false,
            columnDefs: [
                {field: 'diseaseName', displayName: 'Name of diesease'},
                {field: 'namePathway', displayName: 'Name of clinical pathway'},
                {field: 'version', displayName: 'Version'},
                {field: 'comment', displayName: 'Comment'},
                {
                    name: 'edit',
                    enableSorting: false,
                    displayName: '',
                    width: '50',
                    cellTemplate: '<button id="editBtn" type="button" class="btn btn-small fa fa-pencil" ng-click="grid.appScope.edit(row.entity)" ></button> '
                }
            ]
        };

        $scope.init = function () {
            $http.get("repository/pathways").then(function (response) {
                console.log(response);
                $scope.gridOptions.data = response.data;
            });
        };

        $scope.edit = function (entity) {
            console.log(entity);
            $window.location.href = entity.pathwayId;
        }

        $scope.$watch(function () {
            return $window.innerWidth;
        }, function () {
            var newHeight = $window.innerHeight - 130;
            angular.element(document.getElementsByClassName('gridStyle')[0]).css('height', newHeight + 'px');
        });


    });
</script>

<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/commitPopup :: commit"></div>
<div ng-controller="RepoController" data-ng-init="init()" style="height: 100%; margin: 0 10px">
    <div class="gridStyle" ui-grid="gridOptions" external-scopes="gridScope" style="height: 100%"></div>

</div>
</body>
</html>